<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="BasicHttpBinding_IManufacturerService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/Design_Time_Addresses/RentACarService/ManufacturerService/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IManufacturerService"
        contract="RentACarService.IManufacturerService" name="BasicHttpBinding_IManufacturerService" />
    </client>
  </system.serviceModel>
</configuration>